<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.shopee">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/iconlemon"
        android:label="lemon shop"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!--<activity-->
            <!--android:name=".TrangcanhanActivity"-->
            <!--android:label="@string/title_activity_trangcanhan"></activity>-->
        <activity android:name=".ChiTietHoaDonActivity">
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".LichSuMuaHangActivity" />
    </activity>

        <activity android:name=".NhanTinActivity" />
        <activity android:name=".LichSuMuaHangActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".TrangChuActivity" />
        </activity> <!-- <activity android:name=".LichSuMuaHangActivity"></activity> -->

        <activity android:name=".TrangcanhanActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".TrangChuActivity" />
        </activity>

        <activity android:name=".QuanAoNuActivity" />
        <activity android:name=".QuanAoNamActivity" /> <!-- <activity android:name=".ChiTietSanPhamActivity" /> -->
        <activity android:name=".ChiTietSanPhamActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".TrangChuActivity" />
        </activity>
        <activity android:name=".GioHangActivity" />
        <activity android:name=".TrangChuActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".myintro"/>
    </application>

</manifest>